/*DEVELOPER: Derek VanCaneghem, IS117-002, Spring 2019 */

header{ /**The h1 headers**/
	font-family: Georgia, "Times New Roman", serif;
	font-size: 20pt;
	text-align: center;
}

main{
	font-size: 22pt;       
	margin: 20px;
}

#mainedit{
	text-align: center; /** for the main on the index/home page**/
}

nav{
	margin-bottom: 30px;
}

nav a{
	font-size: 24pt;
}

p{
	font-size: 22pt;
	margin: 30px;
}

h1{ /**Big headers with titles of pages pic background**/
	background-image: url(../img/image4.jpg);
	background-size: cover;
	background-position: center;
	
	font-family: Georgia, "Times New Roman", serif; 
	text-indent: 1em;
	background-color: #aeaed4; color: #FFF;
	text-shadow: 3px 3px 3px #0000FF;
	border-width: 3px;
	border-style: ridge;
	border-color: #000000;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #828282;
	padding: 20px;
	margin: 20px;

}

h3{ /**Smaller headers on Hobbies.html page**/
	background-color: #aeaed4; color: #FFF;
	text-shadow: 3px 3px 3px black;
	border-width: 3px;
	border-style: ridge;
	border-color: #000000;
	border-radius: 15px;
	padding: 20px;
}

footer{
	text-align: center;
	margin-top: 50px;
	font-size: 18pt;
}

#cardjawn{
	text-align: center;        /**Centers the card on home/index page**/
    display: inline-block;
}

#class{
	margin: 20px;     /** Hobbies Page div tag**/
}	

a:hover{
	font-weight: bold;
}

#copylink{
	padding-right: 10px;
	color: #191950;         /** for the footer nav bar**/
	text-decoration: underline;	
}

#list{
	list-style-position: inside;         /** for the earth bullet points**/
	list-style-image: url(../img/globe-icon.png);
}

table{
	border-collapse: collapse;    /** for the table borders**/
}

tbody th{
	text-align: center;
	background-color: #aeaed4; color: #FFF;
	text-shadow: 3px 3px 3px black;             /** for the table headers**/
	padding: 20px;
	border: 3px solid black;
}

tbody td{
	text-align: center;
	padding: 20px;  
	border: 3px solid black;	/** for the table cells**/
}

caption{
	font-weight: bold;
	padding: 10px;              /** for the table title**/
	}
	
fieldset{                     /** for the contact page**/
	margin-top: 15px;
}

legend{                  /** for the contact page**/
	font-weight: bold;
}